body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    width: 330px; 
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}


.row {
    width: 100%;
    overflow: hidden; 
}


.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
}

 



.square:hover {
    background-color: lightgray;
    cursor: pointer;
}
