* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
    color: white;
    background-color: #222;
}

.container {
    display: flex;            
    justify-content: space-between;
    background-color: #c21322;
    padding: 20px;
    border-radius: 8px;
}

.column {
    flex: 1;                    
    display: flex;
    flex-direction: column;     
    align-items: center;       
    gap: 16px;
}

.column-item {
    background-color: white;
    color: black;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.column-item:hover {
    background-color: #444;
    color: white;
    transform: scale(1.05);
}
